RewriteEngine on

RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]
RewriteCond %{HTTP:X-Forwarded-Proto} =""
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule "exams\.json" "exams-gen\.php" [PT]
RewriteRule "zff\.json" "zff-gen\.php" [PT]

<FilesMatch "\.(gif|jpg|png|js|svg|css)$">
  ExpiresActive On
  ExpiresDefault "access plus 10 years"
</FilesMatch>
