RewriteEngine on
RewriteRule "exams\.json" "exams-gen\.php" [PT]
RewriteRule "zff\.json" "zff-gen\.php" [PT]

<FilesMatch "\.(gif|jpg|png|js|svg|css)$">
  ExpiresActive On
  ExpiresDefault "access plus 10 years"
</FilesMatch>
