body {
  background-color: #64B5F6;
}

p {
  font-family: Roboto, Verdana, Arial;
  position: relative;
}

a {
	color: #616161;
	text-decoration: none;
}

h1 {
  left: 0px;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-size: 32px;
}

a:hover{
	text-decoration: underline;
  color: #424242;
}

table {
  width: 100%;
  border-spacing: 4px;
}

td {
  position: relative;
  width: 100%;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.smoother {
  color: grey !important;
}

.smoother-archive {
  color: lightgray;
}

.link {
  font-family: Roboto, Arial, Verdana;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link-text {
  display: inline-block;
  vertical-align: middle;
  color: black;
  padding: 16px 32px;
}

.link:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.link:active {
  background-color: rgba(127, 127, 127, 0.5);
}

.link-archive {
  z-index: 4;
  height: 56px;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
  line-height: normal;
  vertical-align: middle;
  color: gray;
}

.link-archive:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.link-archive:active{
  background-color: lightgray;
}

.link-archive-text {
  position: relative;
  top: 16px;
  padding-right: 32px;
  padding-left: 10px;
  z-index: 5;
  display: inline-block;
  vertical-align: middle;
}

.subject-icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.exam-subject {
  color: black;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.exam-group {
  color: #777777;
  background-color: #e5e5e5;
  border-radius: 8px;
  padding: 4px;
  margin-left: 8px;
  display: inline;
}

.exam-range {
  color: black;
  text-decoration: none;
  display: block;
}

.exam-item {
  color: black;
  text-decoration: none;
  padding: 16px;
}

.exam-item:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.link-exam:hover {
  text-decoration: none;
  background-color: rgba(127, 127, 127, 0.1);
}

.attachment-link {
  color: inherit;
}

.attachment-link:hover {
  text-decoration: none;
}

.attachment {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-image: url('img/link-light.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 8px;
}

.file-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.file-icon-link {
  background-image: url('img/link.svg');
}

.file-link {
  color: black;
}

.file-link:hover {
  color: black;
  text-decoration: none;
}

.file-link-container {
  height: 32px;
  padding: 16px;
}

.file-link-container:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.file-name {
  position: absolute;
  left: 64px;
  display: block;
  height: 16px;
  font-size: 16px;
}

.file-author {
  position: absolute;
  left: 64px;
  top: 34px;
  display: block;
  height: 12px;
  font-size: 12px;
}

.exams-button-container {
  font: Roboto, Arial;
  padding: 16px;
  background-color: transparent;
  box-shadow: none;
}

.exams-button {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
}

#exams-button:hover {
  color: white;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.lean_modal {
  padding: 16px;
  padding-top: 48px;
  padding-bottom: 32px;
  border-radius: 6px;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 500px;
  background: white;
  display: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#delete-exam {
  padding-top: 64px;
  padding-bottom: 48px;
}

.modal-title {
  size: 18px;
  font-size: 18px;
  font-weight: 900;
  display: block;
}

.modal-close {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 24px;
  top: 17px;
  background-image: url('img/close.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.input-text {
  border: none;
  border-bottom: solid #929292 2px;
  padding: 2px;
  margin: 6px;
  width: 484px;
}

.input-text:focus {
  outline: none;
  border-bottom: solid #64B5F6 2px;
}

.input-select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  font-weight: bold;
  width: 492px;
  height: 32px;
  padding: 8px;
  border: none;
  background-color: transparent;
  background-image: url('img/arrow.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px;
}

.input-select:focus {
  outline: none;
}

.input-date {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  width: 477px;
  height: 32px;
  padding: 8px;
  border: none;
  background-color: transparent;
  background-image: url('img/arrow.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px;
}

.input-date:focus {
  outline: none;
}

.button-send {
  font-weight: bold;
  background-color: transparent;
  border: none;
  position: absolute;
  color: #64B5F6;
  right: 18px;
  cursor: pointer;
}

#delete-exam .button-send {
  bottom: 16px;
}

.button-send:focus {
  outline: none;
}

.ui-datepicker {
  width: 188px;
}

.link-delete {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  background-image: url('img/close.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  display: none;
}

.exam-cell:hover .link-delete {
  display: block;
  cursor: pointer;
}

.exam-cell:hover .link-exam .exam-item {
  background-color: rgba(127, 127, 127, 0.1);
}

td.zff-cell {
  background-color: transparent;
  border-radius: none;
  box-shadow: none;
}

.zff-cell > a:link {
  color: white;
}

.button {
  padding-top: 48px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.group {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: #75C6FF;
}

.group-title {
  display: inline-block;
  margin-left: 8px;
  font-size: 16px;
  font-weight: 900;
}

/*tutorial*/
#page{
   position: relative;
   width: 100%;
   border-radius: 3px;
   background-color: white;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#page p{
   padding: 0px 8px 1px 8px;
}

ul{
   font-family: Roboto, Arial, Verdana;
}

li{
   font-family: Roboto, Arial, Verdana;
}

.bolder{
   font-weight: bold;
}

.back{
   font-family: Roboto, Arial, Verdana;
   font-size: 15px;
}

#center{
   text-align: center;
}
