body {
  background-color: #64B5F6;
}

p {
  font-family: Roboto, Verdana, Arial;
  position: relative;
}

a {
	color: #727272;
	text-decoration: none;
}

h1 {
  left: 0px;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-size: 32px;
}

a:hover{
	text-decoration: underline;
  color: #424242;
}

table {
  width: 100%;
  border-spacing: 4px;
}

td {
  position: relative;
  width: 100%;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.smoother{
  color: grey;
}

.smoother-archive {
  color: lightgray;
}

.link {
  font-family: Roboto, Arial, Verdana;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link-text {
  display: inline-block;
  vertical-align: middle;
  color: black;
  padding: 16px 32px;
}

.link:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.link-archive {
  z-index: 4;
  height: 56px;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
  line-height: normal;
  vertical-align: middle;
  color: gray;
}

.link-archive:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.link-archive-text {
  position: relative;
  top: 16px;
  padding-right: 32px;
  padding-left: 10px;
  z-index: 5;
  display: inline-block;
  vertical-align: middle;
}

.subject-icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.exam_subject {
  color: black;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.exam_range {
  color: black;
  text-decoration: none;
  display: block;
}

.exam_item {
  color: black;
  text-decoration: none;
  padding: 16px;
}

.exam_item:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.link-exam:hover {
  text-decoration: none;
  background-color: rgba(127, 127, 127, 0.1);
}

.file-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.file-icon-link {
  background-image: url('img/link.svg');
}

.file-link {
  color: black;
}

.file-link:hover {
  color: black;
  text-decoration: none;
}

.file-link-container {
  height: 32px;
  padding: 16px;
}

.file-link-container:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.file-name {
  position: absolute;
  left: 64px;
  display: block;
  height: 16px;
  font-size: 16px;
}

.file-author {
  position: absolute;
  left: 64px;
  top: 34px;
  display: block;
  height: 12px;
  font-size: 12px;
}
