td {
  width: 100%;
  font-family: Roboto, Arial;
  border: none;
  border-spacing: none;
}

table {
  border-spacing: none;
  border-width: 0px;
  width: 100%;
  position: relative;
  left: 0px;
}

h1 {
  font-size: 32px;
}

h2 {
  text-align: center;
  margin-bottom: 4px;
}

p {
  text-align: justify;
  font-size: 16px;
}

#konec {
  position: relative;
  height: 80px;
}

.link-text {
  padding-left: 32px;
}

.subject-icon {
  display: none;
}

.exam_item:hover .link-delete {
  display: none;
}

.exams-button-container {
  display: none;
}

@media (min-width: 320px) {
  .link-text {
    padding-left: 64px;
  }

  .subject-icon {
    display: block;
  }
}

#stupidCountdownContainer {
  height: 32px;
}

span.stupidElement {
  position: absolute;
  left: 0px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}