td {
  width: 100%;
  font-family: Arial;
  border: none;
  border-spacing: none;
}

table {
  border-spacing: none;
  border-width: 0px;
  width: 100%;
  position: relative;
  left: 0px;
}

h1 {
  left: 0px;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-size: 32px;
}

p {
  text-align: justify;
  left: 0px;
  font-size: 16px;
}

#konec {
  position: relative;
  height: 150px;
}

.link-text {
  padding-left: 32px;
}

.subject-icon {
  display: none;
}

@media (min-width: 320px) {
  .link-text {
    padding-left: 64px;
  }

  .subject-icon {
    display: block;
  }

  #subject-icon-chemistry {
    background-image: url('img/chemistry.svg');
  }

  #subject-icon-civics {
    background-image: url('img/civics.png');
  }

  #subject-icon-biology {
    background-image: url('img/biology.png');
  }

  #subject-icon-german {
    background-image: url('img/german.png');
  }

  #subject-icon-history {
    background-image: url('img/history.png');
  }
}
