td {
  width: 100%;
  font-family: Arial;
  border: none;
  border-spacing: none;
}

table {
  border-spacing: none;
  border-width: 0px;
  width: 100%;
  position: relative;
  left: 0px;
}

h1 {
  left: 0px;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-size: 35px;
}

p {
  text-align: justify;
  font-family: Verdana, Arial;
  position: relative;
  left: 0px;
  font-size: 16px;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0);
}

.link-archive:hover {
  background-color: rgba(0, 0, 0, 0);
}
<<<<<<< HEAD

#konec {
  position: relative;
  height: 150px;
}
=======
>>>>>>> mobile_version
