
body {
  background-color: rgb(50, 150, 180);
}

table {
  position: relative;
  left: 70px;
}

h1 {
  position: relative;
  left: 150px;
  font-family: Arial;
  font-size: 40px;
}

p {
  font-family: verdana;
  position: relative;
  left: 120px;
  font-size: 17px;
}

td a {
  text-decoration: none;
  position: relative;
  font-size: 18px;
  color: darkblue;
}

.link {
  background-color: white;
  font-family: Arial;
  display: block;
  height: 39px;
  line-height: 39px;
}

.link-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
}

a:hover {
	text-decoration: underline;
}

#konec {
	position: relative;
	height: 500px;
}



@media(max-device-width: 730px) {
  td {
    height: 180px;
    background-color: white;
    font-family: Arial;
    font-size: 70px;
  }

  table {
    position: relative;
  }

  h1 {
    position: relative;
    left: 150px;
    font-family: Arial;
    font-size: 50px;
  }

  p {
    font-family: verdana;
    position: relative;
    left: 120px;
    font-size: 21px;
  }
}
