body{
background-color: rgb(66, 133, 244);
}
td{
width: 30%;
height: 39px;
background-color: white;
font-family: Arial;
}
table{
position: relative;
left: 70px;
}
h1{
position: relative;
left: 150px;
font-family: Arial;
font-size: 40px;
}
p{
font-family: verdana;
position: relative;
left: 120px;
font-size: 17px;
}
td a{
text-decoration: none;
position: relative;
left: 30px;
font-size: 18px;
color: darkblue;
}
a:hover{
	text-decoration: underline;
	}
#konec{
	position: relative;
	height: 500px;
}


@media(max-device-width: 730px) {

td{/*
width: 35%;*/
height: 180px;
background-color: wheat;
font-family: Arial;
font-size: 70px;
}
table{
position: relative;
}
h1{
position: relative;
left: 150px;
font-family: Arial;
font-size: 50px;
}
p{
font-family: verdana;
position: relative;
left: 120px;
font-size: 21px;
}
td a{
text-decoration: none;
position: relative;
left: 30px;
font-size: 40px;
color: darkblue;/*
height: 150px;
width: 80%;
background-color: yellow;*/
}

#konec{
	position: relative;
	height: 200px;
}}
