table {
  position: relative;
}

p {
  font-size: 17px;
  left: 10px;
  width: 98%;
}

h1 {
  font-size: 40px;
}

.link {
  font-family: Roboto, Arial;
  display: block;
}

.link-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 16px 64px;
}

.link-archive-text {
  font-size: 18px;
  padding-left: 32px;
}

#konec {
  position: relative;
  height: 300px;
}

#container {
  background-color: #64B5F6;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
}

#examsContainer > h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 44px;
  margin-bottom: 65px; /* Sice je to o pixel míň, než by mělo být, ale pořád to na mě působí, jako že je to moc... */
}

#examsContainer > table {
  padding-bottom: 32px;
}

#examsContainer::-webkit-scrollbar {
  width: 5px;
}

#examsContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}

#examsContainer {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
  overflow-y: auto;
  width: 300px;
  height: 100%;
  background-color: #75C6FF;
  position: fixed;
  top: 0px;
  right: 0px;
}

.theme-button {
  padding-bottom: 48px;
}

@media(max-width: 1600px) {
  #containerHack {
    position: absolute;
    left: 25px;
    width: calc(100% - 350px);
    margin-left: auto;
    margin-right: auto;
  }

  #examsContainer > h2 {
    margin-bottom: 73px;
  }
}

#stupidCountdownContainer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  background-color: white;
  z-index: 100;
  box-shadow: 0px -2px 10px 2px rgba(0,0,0,0.2);
}

span.stupidElement {
  position: absolute;
  top: 6px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
